@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Notable&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Notable&family=Pixelify+Sans:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Happy+Monkey&family=Notable&family=Pixelify+Sans:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tac+One&display=swap');

#SIpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #D2E9FF;
}

#navPublic{
    color: #ffe13a;
}

#homeTitle{
    text-align: center;
    color: #007eff;
    -webkit-text-stroke: 1px black;
}

#userIDS h5, #userIDS input, #stfSrcBtt, #stfSort{
    font-size: 13px;
}

.sidebar a{
    width: max-content;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: #007eff;
    border: none;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: #007eff;
    border: none;
    border-radius: 5px;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb{
    background: #002FA4;
    border: none;
    border-radius: 5px;
}

.sidebar::-webkit-scrollbar-thumb:hover{
    background: white;
    border: none;
    border-radius: 5px;
}

.bottomDiv::-webkit-scrollbar-thumb{
    background: #002FA4;
    border: none;
    border-radius: 5px;
}

.bottomDiv::-webkit-scrollbar-thumb:hover{
    background: #006eff;
    border: none;
    border-radius: 5px;
}

.topDiv::-webkit-scrollbar{
    height: 5px;
}

.topDiv::-webkit-scrollbar-thumb{
    background: #006eff;
    border: none;
    border-radius: 5px;
}

.topDiv::-webkit-scrollbar-thumb:hover{
    background: white;
    border: none;
    border-radius: 5px;
}

.menuPrice{
    text-align: center;
}

/* PC Media Query */
@media screen and (min-width: 1200px){
    /* Media Query */
    h1{
        font-family: "Audiowide";
        font-size: 64px;
        font-weight: 100;
    }

    h2, .heading2{
        font-family: "Audiowide";
        font-size: 48px;
        font-weight: 100;
    }

    h4, .heading4, .orderul, .complete, #addIng input, #addMeal input, #addMeal select{
        font-family: "Audiowide";
        font-size: 28px;
        font-weight: bold;
    }

    h5, .heading5, .sideShift, .staffDD, .setButton, .sideHome, .sideOrders, .sideInventory, .sideManagement, .sideAccounting, .publicLinks{
        font-family: "Notable";
        font-size: 24px;
        font-weight: 100;
    }

    p, .paragraph{
        font-family: "Notable";
        font-size: 24px;
        font-weight: 100;
    }

    /* Global */
    .mainPages{
        padding-top: 220px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    /* Sign In */
    #SIbackground{
        background-image:url("assets/si-bg/desktop.png");
        background-position: center;
    }

    #SIlogo{
        margin-top: 10%;
        width:499px;
    }

    #google{
        background-color: white;
        border-radius: 10px;
        border: none;
        color:#6E630B;
        height: 79px;
        display: flex;
        align-items: center;
    }

    #google img{
        width: 63px;
        height: 63px;
        margin-right: 10px;
    }

    .SIfootergif{
        height: 20%;
        position: absolute;
        right: 2%;
        bottom: 1%;
    }

    /* Navbar */
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 180px;
        width: 100%;
        border-bottom: 2px solid #007eff;
        position: fixed;
        top: 0%;
        background-color: #D2E9FF;
    }

    .navSidebar, .navSignout, .navlogoClick{
        background-color: transparent;
        border: none;
    }

    .navlogo{
        height: 180px;
    }

    .menuIcon{
        width: 75px;
    }
    
    .signoutIcon{
        width: 74px;
    }

    #homeTitle{
        margin: 0px;
    }

    .signoutArea{
        display: flex;
        justify-content: end;
        text-align: center;
        color:#007eff;
    }

    .navSideArea, .signoutArea{
        width: 20%;
    }

    /* Sidebar */
    .sidebar{
        background-color: #007EFF;
        width: 474px;
        position: fixed;
        top: 220px;
        left: 0;
        height: calc(100vh - 220px);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .sidebar a{
        text-decoration: none;
        margin-left: 5%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .sidebar a:link{
        color:#002FA4;
    }

    .sidebar a:visited {
        color:#002FA4;
    }

    .sidebar a:hover{
        color: white;
    }

    .sidebar a:active{
        color: white;
    }

    /* Footer */
    .footer{
        flex:1;
        display: flex;
        justify-content: start;
        align-items: end;
        height: 212px;
        margin-top: 10%;
        background-image: url("assets/footer.png");
    }

    .footerSonic{
        height: 222px;
        margin-bottom: 50px;
    }

    /* Menu */
    #menuTop{
        display: flex;
        justify-content: center;
        align-items: center;
        color:#007EFF;
    }

    .menuPic{
        width: fit-content;
    }

    .cartDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;
    }

    .cartTitle{
        margin: 0px;
        color:#007EFF;
    }

    .cartPrice{
        margin: 0px;
        color:#007EFF;
    }

    .cartRemove{
        color:black;
        background-color: white;
        border: none;
        border-radius: 10px;
        height: 50px;
        width: 50px;
        font-weight: 900;
    }

    #typeBtt, #checkoutBtn{
        background-color: #002FA4;
        border-radius: 32px;
        width: 292px;
        margin-left: 15px;
        border: none;
    }

    #cartSummary{
        margin-left: 10%;
        margin-right: 10%;
    }

    .checkoutButton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    #sepDiv{ 
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
    }

    .sumSep{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sumSep p, .sumSep h4{
        margin: 0px;
        color:#007EFF;
    }

    .sumL{
        text-decoration: underline;
    }

    .sectionArea{
        background-color: #007EFF;
        border-radius: 40px;    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;

        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .bttm{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    .bttm h4{
        margin-left: 5px;
    }

    .menuDiv{
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sectionArea h4{
        margin-top: 0px;
        margin-bottom: 0px;
        color:#D2E9FF;
        text-align: center;
    }

    
    .sectionTitle{
        text-decoration: underline;
        margin-bottom: 0px;
        margin-left: 2%;
        color:#007EFF;
    }

    .addItem{
        color:white;
        background-color: #002FA4;
        text-align: center;
        border-radius: 7px;
        border: solid 2px #FF0606;
        font-family: "Notable";
        font-size: 18px;
        font-weight: 100;
        padding: 5px;
        /* width: 30%; */ 
    }

    /* Managment */
    .lineDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .staffInfo{
        background-color: #FFF7CA;
        border-radius: 10px;
        border:#575FF9 solid 1px;
        padding:10px;
        margin-left: 5px;
        max-width: 60%;
        overflow-x: auto;
    }
    
    .staffDD{
        background-color: #FFF7CA;
        border-radius: 10px;
        border:#575FF9 solid 1px;
        padding:10px;
        margin-left: 15px;
    }

    .setButton{
        background-color: #FFD16D;
        border-radius: 10px;
        border:#575FF9 solid 1px;
        padding:10px;
        margin-left: 15px;
    }

    #userIDS{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #stfSrc{
        background-color: white;
        border: 1px solid #575FF9;
        border-radius: 10px;
        width: 268px;
        height: 54px;
        margin-left: 10px;
    }

    #stfSrcBtt, #stfSort{
        margin-left: 10px;
        background-color: #FFAE00;
        border:solid 1px #575FF9;
        width: 88px;
        height: 45px;
        border-radius: 10px;
    }

    /* Orders */
    #orderViews{
        display: grid;
        place-items: center;
        align-items: start;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        row-gap: 10%;
        column-gap: 4%;
    }

    .orderDiv{
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 100%;
        height: 500px;
    }

    .topDiv{
        background-color: #002FA4;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: solid black 1px;
        border-bottom: solid black 1px;
        color:#D2E9FF;
        height: 75px;
        overflow-y: hidden;
        overflow-x: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .topDiv::-webkit-scrollbar{
        height: 5px;
    }

    .bottomDiv{
        background-color: #007EFF;
        color:#D2E9FF;
        height: 425px;
        border: solid black 1px;
        border-top: none;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .bottomDiv::-webkit-scrollbar {
        width: 10px;
    }

    .orderTime{
        display: flex;
        justify-content: end;
        align-items: end;
        margin: 0px;
        margin-right: 2px;
        margin-top: auto;
    }

    .topDiv h4{
        text-align: center;
        margin: 0px;
    }

    .orderul{
        margin: 0px;
        padding:0px;
        margin-right: 2px;
    }

    .orderul li{
        margin: 0px;
        margin-left: 20%;
    }

    .complete{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: solid black 1px;
        background-color: #FFD16D;
    }

    /* Inventory */
    #addIng, #addMeal{
        display: flex;
        justify-content: start;
    }

    #addIng input, #addMeal input, #addMeal select{
        background-color: #FFD16D;
        border: none;
        border-radius: 10px;
        margin-right: 5px;
    }

    #addIng button{
        background-color: #FFAE00;
        border: none;
        border-radius: 10px;
        width: 38px;
        font-family: "Pixelify Sans";
        font-size: 40px;
        font-weight: bold;
    }

    #addMeal button{
        background-color: #FFAE00;
        border: none;
        border-radius: 10px;
        height: 38px;
    }

    #viewInventory{
        background-color: #FFD16D;
        border: none;
        border-radius: 10px;
        padding: 2%; 
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        place-items: center;
    }

    .invDiv{
        width: fit-content;
        display: flex;
        justify-content: center;
        height: 300px;  
        border: none;
        margin-bottom: 10%;
    }

    .leftInv{
        height: 100%;
        padding: 10px;
        background-color: #6EADFF;
        border: none;
        border-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .leftInv h4{
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .leftInv input, .rightInv input{
        background-color: #FFD16D;
        border: none;
        font-family: "Pixelify Sans";
        font-size: 20px;
        font-weight: bold;
        width: 40%;
    }

    .rightInv select{
        display: block;
        background-color: #FFD16D;
        border: none;
        font-family: "Pixelify Sans";
        font-size: 20px;
        font-weight: bold;
        overflow-x:auto;
        text-overflow: ellipsis;
        width: fit-content;
        margin-bottom: 5px;
    }

    .leftInv button, .rightInv button, .menInvDiv button {
        background-color: transparent;
        border: none;
        font-family: "Pixelify Sans";
        font-size: 20px;
        font-weight: bold;
    }

    .rightInv{
        border-left: 3px solid #FFD16D;
        padding: 10px;
        height: 100%;
        overflow-y: auto;
        background-color: #3C91FF;
        border: none;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .rightInv::-webkit-scrollbar-thumb{
        background: #002FA4;
        border: none;
        border-radius: 5px;
    }
    
    .rightInv::-webkit-scrollbar-thumb:hover{
        background: #006eff;
        border: none;
        border-radius: 5px;
    }    

    .iNVtemDiv{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .iNVtemDiv h4{
        margin: 0px;
        margin-top: 10px;
    }
    
    .iNVtemDiv button{
        color:red;
        font-weight: bold;
        margin: 0px;
        margin-top: 10px;
        border: 1px solid red;
        border-radius: 50%;
    }

    #viewMenu{
        background-color: #FFD16D;
        border: none;
        border-radius: 10px;
        padding: 2%; 
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        place-items: center;
    }

    .menInvDiv{
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px; 
        min-width: 60%;
        border: none;
        border-radius: 10px;
        margin-bottom: 10%;
        background-color: #6EADFF;
        padding: 10px;
    }

    .menInvDiv h4{
        margin: 5px;
    }

    .menInvDiv button{
        color:red;
        margin: 0px;
    }
}

/* Tablet Media Query */
@media screen and (min-width:800px) and (max-width: 1199px){
    /* Media Query */
    h1{
        font-family: "Audiowide";
        font-size: 48px;
        font-weight: 100;
    }

    h2, .heading2{
        font-family: "Audiowide";
        font-size: 36px;
        font-weight: 100;
    }

    h4, .heading4, .orderul, .complete, #addIng input, #addMeal input, #addMeal select{
        font-family: "Audiowide";
        font-size: 24px;
        font-weight: bold;
    }

    h5, .heading5, .sideShift, .staffDD, .setButton, .sideHome, .sideOrders, .sideInventory, .sideManagement, .sideAccounting, .publicLinks{
        font-family: "Notable";
        font-size: 18px;
        font-weight: 100;
    }

    p, .paragraph{
        font-family: "Happy Monkey";
        font-size: 18px;
        font-weight: 100;
    }

    /* Global */
    .mainPages{
        padding-top: 147px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    /* Sign In */
    #SIbackground{
        background-image:url("assets/si-bg/desktop.png");
        background-position: center;
    }

    #SIlogo{
        margin-top: 20%;
        width:410px;
    }

    #google{
        background-color: white;
        border-radius: 10px;
        border: none;
        color:#6E630B;
        height: 61px;
        display: flex;
        align-items: center;
    }

    #google img{
        width: 49px;
        height: 49px;
        margin-right: 10px;
    }

    .SIfootergif{
        height: 20%;
        position: absolute;
        right: 1%;
        bottom: 1%;
    }

    /* Navbar */
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 140px;
        width: 100%;
        border-bottom: 2px solid #007eff;
        position: fixed;
        top: 0%;
        background-color: #D2E9FF;
    }
    .navSidebar, .navSignout, .navlogoClick{
        background-color: transparent;
        border: none;
    }

    .navlogo{
        height: 140px;
    }

    .menuIcon{
        width: 59px;
    }

    .signoutIcon{
        width: 58px;
    }

    #homeTitle{
        margin: 0px;
    }

    .signoutArea{
        display: flex;
        justify-content: end;
        text-align: center;
        color:#007eff;
    }   

    .navSideArea, .signoutArea{
        width: 20%;
    }

    /* Sidebar */
    .sidebar{
        background-color: #007EFF;
        width: 382px;
        position: fixed;
        top: 147px;
        left: 0;
        height: calc(100vh - 147px);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .sidebar a{
        text-decoration: none;
        margin-left: 5%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .sidebar a:link{
        color:#002FA4;
    }

    .sidebar a:visited {
        color:#002FA4;
    }

    .sidebar a:hover{
        color: white;
    }

    .sidebar a:active{
        color: white;
    }

    /* Footer */
    .footer{
        flex:1;
        display: flex;
        justify-content: start;
        align-items: end;
        height: 212px;
        margin-top: 10%;
        background-image: url("assets/footer.png");
    }

    .footerSonic{
        height: 222px;
        margin-bottom: 50px;
    }

    /* Menu */
    #menuTop{
        display: flex;
        justify-content: center;
        align-items: center;
        color:#007EFF;
    }

    .menuPic{
        width: 90%;
    }

    .cartDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;
    }

    .cartTitle{
        margin: 0px;
        color:#007EFF;
    }

    .cartPrice{
        margin: 0px;
        color:#007EFF;
    }

    .cartRemove{
        color:black;
        background-color: white;
        border: none;
        border-radius: 10px;
        height: 50px;
        width: 50px;
        font-weight: 900;
    }


    #typeBtt, #checkoutBtn{
        background-color: #002FA4;
        border-radius: 32px;
        width: 292px;
        margin-left: 15px;
        border: none;
    }

    #cartSummary{
        margin-left: 10%;
        margin-right: 10%;
    }

    .checkoutButton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    #sepDiv{ 
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
    }

    .sumSep{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sumSep p, .sumSep h4{
        margin: 0px;
        color:#007EFF;
    }

    .sumL{
        text-decoration: underline;
    }
    
    .sectionArea{
        background-color: #007EFF;
        border-radius: 40px;    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .bttm{
        margin-top: 5px;
    }

    .menuDiv{
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sectionArea h4{
        margin-top: 0px;
        margin-bottom: 0px;
        color: #D2E9FF;
        text-align: center;
    }

    
    .sectionTitle{
        text-decoration: underline;
        margin-bottom: 0px;
        margin-left: 2%;
        color:#007EFF;
    }

    .addItem{
        color:white;
        background-color: #002FA4;
        text-align: center;
        border-radius: 7px;
        border: solid 2px #FF0606;
        font-family: "Notable";
        font-size: 14px;
        font-weight: 100;
        padding: 5px;
        /* width: 30%; */
    }

    /* Managment */
    .lineDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .staffInfo{
        background-color: #FFF7CA;
        border-radius: 10px;
        border:#575FF9 solid 1px;
        padding:10px;
        margin-left: 5px;
        max-width: 60%;
        overflow-x: auto;
    }
    
    .staffDD{
        background-color: #FFF7CA;
        border-radius: 10px;
        border:#575FF9 solid 1px;
        padding:10px;
        margin-left: 15px;
    }

    .setButton{
        background-color: #FFD16D;
        border-radius: 10px;
        border:#575FF9 solid 1px;
        padding:10px;
        margin-left: 15px;
    }

    #userIDS{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #stfSrc{
        background-color: white;
        border: 1px solid #575FF9;
        border-radius: 10px;
        width: 268px;
        height: 54px;
        margin-left: 10px;
    }

    #stfSrcBtt, #stfSort{
        margin-left: 10px;
        background-color: #FFAE00;
        border:solid 1px #575FF9;
        width: 88px;
        height: 45px;
        border-radius: 10px;
    }

    /* Orders */
    #orderViews{
        display: grid;
        place-items: center;
        align-items: start;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 8%;
        column-gap: 4%;
    }

    .orderDiv{
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 100%;
        height: 500px;
    }

    .topDiv{
        background-color: #002FA4;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: solid black 1px;
        border-bottom: solid black 1px;
        color:#D2E9FF;
        height: 75px;
        overflow-y: hidden;
        overflow-x: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .topDiv::-webkit-scrollbar{
        height: 5px;
    }

    .bottomDiv{
        background-color: #007EFF;
        color:#D2E9FF;
        height: 425px;
        border: solid black 1px;
        border-top: none;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .bottomDiv::-webkit-scrollbar {
        width: 10px;
    }

    .orderTime{
        display: flex;
        justify-content: end;
        align-items: end;
        margin: 0px;
        margin-right: 2px;
        margin-top: auto;
    }

    .topDiv h4{
        text-align: center;
        margin: 0px;
    }

    .orderul{
        margin: 0px;
        padding:0px;
        margin-right: 2px;
    }

    .orderul li{
        margin: 0px;
        margin-left: 20%;
    }

    .complete{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: solid black 1px;
        background-color: #FFD16D;
    }

    /* Inventory */
    #addIng, #addMeal{
        display: grid;
        grid-template-columns:  repeat(2, minmax(0, 1fr));
        row-gap: 15%;
        margin-bottom: 10%;
    }

    #addIng input, #addMeal input, #addMeal select{
        background-color: #FFD16D;
        border: none;
        border-radius: 10px;
        margin-right: 5px;
    }

    #addIng button{
        background-color: #FFAE00;
        border: none;
        border-radius: 10px;
        width: 38px;
        font-family: "Pixelify Sans";
        font-size: 40px;
        font-weight: bold;
    }

    #addMeal button{
        background-color: #FFAE00;
        border: none;
        border-radius: 10px;
        height: 38px;
    }

    #viewInventory{
        background-color: #FFD16D;
        border: none;
        border-radius: 10px;
        padding: 2%; 
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        place-items: center;
        column-gap: 10px;
    }

    .invDiv{
        width: fit-content;
        display: flex;
        justify-content: center;
        height: 300px;  
        border: none;
        margin-bottom: 20%;
    }

    .leftInv{
        height: 100%;
        padding: 10px;
        background-color: #6EADFF;
        border: none;
        border-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .leftInv h4{
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .leftInv input, .rightInv input{
        background-color: #FFD16D;
        border: none;
        font-family: "Pixelify Sans";
        font-size: 20px;
        font-weight: bold;
        width: 50%;
    }

    .rightInv select{
        display: block;
        background-color: #FFD16D;
        border: none;
        font-family: "Pixelify Sans";
        font-size: 20px;
        font-weight: bold;
        width: 90%;
        overflow-x:auto;
        text-overflow: ellipsis;
        margin-bottom: 5px;
    }

    .leftInv button, .rightInv button, .menInvDiv button {
        background-color: transparent;
        border: none;
        font-family: "Pixelify Sans";
        font-size: 20px;
        font-weight: bold;
    }

    .rightInv{
        border-left: 3px solid #FFD16D;
        padding: 10px;
        height: 100%;
        overflow-y: auto;
        background-color: #3C91FF;
        border: none;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .rightInv::-webkit-scrollbar-thumb{
        background: #002FA4;
        border: none;
        border-radius: 5px;
    }
    
    .rightInv::-webkit-scrollbar-thumb:hover{
        background: #006eff;
        border: none;
        border-radius: 5px;
    }    

    .iNVtemDiv{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .iNVtemDiv h4{
        margin: 0px;
        margin-top: 10px;
    }
    
    .iNVtemDiv button{
        color:red;
        margin: 0px;
        margin-top: 10px;
        border: 1px solid red;
        border-radius: 50%;
    }

    #viewMenu{
        background-color: #FFD16D;
        border: none;
        border-radius: 10px;
        padding: 2%; 
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        place-items: center;
        column-gap: 10px;
    }

    .menInvDiv{
        min-width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px; 
        border: none;
        border-radius: 10px;
        margin-bottom: 10%;
        background-color: #6EADFF;
        padding: 10px;
    }

    .menInvDiv h4{
        margin: 5px;
    }

    .menInvDiv button{
        color:red;
        margin: 0px;
    }
}

/* Mobile Media Query */
@media screen and (max-width:799px) {
    /* Media Query */
    h1{
        font-family: "Audiowide";
        font-size: 36px;
        font-weight: 100;
    }

    h2, .heading2{
        font-family: "Audiowide";
        font-size: 28px;
        font-weight: 100;
    }

    h4, .heading4, .orderul, .complete, #addIng input, #addMeal input, #addMeal select{
        font-family: "Audiowide";
        font-size: 18px;
        font-weight: bold;
    }

    h5, .heading5, .sideShift, .staffDD, .setButton, .sideHome, .sideOrders, .sideInventory, .sideManagement, .sideAccounting, .publicLinks{
        font-family: "Notable";
        font-size: 14px;
        font-weight: 100;
    }

    p, .paragraph{
        font-family: "Happy Monkey";
        font-size: 14px;
        font-weight: 100;
    }

    /* Global */
    .mainPages{
        padding-top: 103px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    /* Sign In */
    #SIbackground{
        background-image:url("assets/si-bg/tablet.png");
        background-position: center; 
    }

    #SIlogo{
        margin-top: 30%;
        width:378px;
    }

    #google{
        background-color: white;
        border-radius: 10px;
        border: none;
        color:#6E630B;
        height: 47px;
        display: flex;
        align-items: center;
    }

    #google img{
        width: 36px;
        height: 36px;
        margin-right: 8px;
    }

    .SIfootergif{
        height: 20%;
        position: absolute;
        right: 8%;
        bottom: 1%;
    }

    /* Navbar */
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 95px;
        width: 100%;
        border-bottom: 2px solid #007eff;
        position: fixed;
        top: 0%;
        background-color: #D2E9FF;
    }

    .navSidebar, .navSignout, .navlogoClick{
        background-color: transparent;
        border: none;
    }

    .navlogo{
        height: 95px;
    }

    .menuIcon{
        width: 48px;
    }

    .signoutIcon{
        width: 35px;
    }

    #homeTitle{
        margin: 0px;
    }

    .signoutArea{
        display: flex;
        flex-direction: column;
        text-align: center;
        color:#007eff;
    }

    .navSideArea, .signoutArea{
        width: 20%;
    }

    /* Sidebar */
    .sidebar{
        background-color: #007EFF;
        width: 100%;
        position: fixed;
        top: 103px;
        left: 0;
        height: calc(100vh - 103px);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .sidebar a{
        text-decoration: none;
        margin-left: 5%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .sidebar a:link{
        color:#002FA4;
    }

    .sidebar a:visited {
        color:#002FA4;
    }

    .sidebar a:hover{
        color: white;
    }

    .sidebar a:active{
        color: white;
    }

    /* Footer */
    .footer{
        flex:1;
        display: flex;
        justify-content: start;
        align-items: end;
        height: 212px;
        margin-top: 20%;
        background-image: url("assets/footer.png");
    }

    .footerSonic{
        height: 222px;
        margin-bottom: 30px;
    }

    /* Menu */
    #menuTop{
        display: flex;
        justify-content: center;
        align-items: center;
        color:#007EFF;
    }

    .menuPic{
        width:90%;
    }

    .cartDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;
    }

    .cartTitle{
        margin: 0px;
        color:#007EFF;
    }

    .cartPrice{
        margin: 0px;
        color:#007EFF;
    }

    .cartRemove{
        color:black;
        background-color: white;
        border: none;
        border-radius: 10px;
        height: 50px;
        width: 50px;
        font-weight: 900;
    }

    #typeBtt, #checkoutBtn{
        background-color: #002FA4;
        border-radius: 32px;
        width: 185px;
        margin-left: 15px;
        border: none;
    }

    #cartSummary{
        margin-left: 10%;
        margin-right: 10%;  
    }

    .checkoutButton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    #sepDiv{ 
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
    }

    .sumSep{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sumSep p, .sumSep h4{
        margin: 0px;
        color:#007EFF;
    }

    .sumL{
        text-decoration: underline;
    }

    .sectionArea{    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 1%;
        margin-right: 1%;
    }

    .bttm{
        margin-top: 5px;
    }

    .menuDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        background-color: #007EFF;
        border-radius: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 90%;
    }

    .sectionArea h4{
        margin-top: 0px;
        margin-bottom: 0px;
        color:#D2E9FF;
        text-align: center;
    }

    
    .sectionTitle{
        text-decoration: underline;
        margin-bottom: 0px;
        margin-left: 2%;
        color:#007EFF;
    }

    .addItem{
        color:white;
        background-color: #002FA4;
        text-align: center;
        border-radius: 7px;
        border: solid 2px #FF0606;
        font-family: "Notable";
        font-size: 12px;
        font-weight: 100;
        padding: 5px;
        /*width: 30%;*/
    }

    /* Managment */
    #staffListed{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lineDiv h5{
        margin-bottom: 0px;
    }

    .staffInfo{
        background-color: #FFF7CA;
        border-radius: 10px;
        border:#575FF9 solid 1px;
        padding:10px;
        margin-left: 5px;
        max-width: 60%;
        overflow-x: auto;
    }
    
    .staffDD{
        background-color: #FFF7CA;
        border-radius: 10px;
        border:#575FF9 solid 1px;
        padding:10px;
        margin-left: 15px;
    }

    .setButton{
        background-color: #FFD16D;
        border-radius: 10px;
        border:#575FF9 solid 1px;
        padding:10px;
        margin-left: 15px;
    }

    #userIDS{
        display: flex;
        align-items: center;
    }

    #stfSrc{
        background-color: white;
        border: 1px solid #575FF9;
        border-radius: 10px;
        width: 268px;
        height: 54px;
        margin-left: 10px;
    }

    #stfSrcBtt, #stfSort{
        margin-left: 10px;
        background-color: #FFAE00;
        border:solid 1px #575FF9;
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
    }

    /* Orders */
    #orderViews{
        display: grid;
        place-items: center;
        align-items: start;
        grid-template-columns: minmax(0, 1fr);
        row-gap: 3%;
        column-gap: 4%;
    }

    .orderDiv{
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 100%;
        height: 400px;
    }

    .topDiv{
        background-color: #002FA4;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: solid black 1px;
        border-bottom: solid black 1px;
        color:#D2E9FF;
        height: 75px;
        overflow-y: hidden;
        overflow-x: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .topDiv::-webkit-scrollbar{
        height: 5px;
    }

    .bottomDiv{
        background-color: #007EFF;
        color:#D2E9FF;
        height: 425px;
        border: solid black 1px;
        border-top: none;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .bottomDiv::-webkit-scrollbar {
        width: 10px;
    }

    .orderTime{
        display: flex;
        justify-content: end;
        align-items: end;
        margin: 0px;
        margin-right: 2px;
        margin-top: auto;
    }

    .topDiv h4{
        text-align: center;
        margin: 0px;
    }

    .orderul{
        margin: 0px;
        padding:0px;
        margin-right: 2px;
    }

    .orderul li{
        margin: 0px;
        margin-left: 20%;
    }

    .complete{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: solid black 1px;
        background-color: #FFD16D;
    }

    /* Inventory */
    #addIng, #addMeal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #addIng input, #addMeal input, #addMeal select{
        margin-bottom: 10px;
        background-color: #FFD16D;
        border: none;
        border-radius: 10px;
        height: 38px;
    }

    #addIng button{
        background-color: #FFAE00;
        border: none;
        border-radius: 10px;
        width: 38px;
        font-family: "Pixelify Sans";
        font-size: 40px;
        font-weight: bold;
    }

    #addMeal button{
        background-color: #FFAE00;
        border: none;
        border-radius: 10px;
        height: 38px;
    }

    #viewInventory{
        background-color: #FFD16D;
        border: none;
        border-radius: 10px;
        padding: 2%; 
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        place-items: center;
        column-gap: 10px;
    }

    .invDiv{
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 350px;  
        border: none;
        margin-bottom: 20%;
    }

    .leftInv{
        height: 70%;
        padding: 10px;
        background-color: #6EADFF;
        border: none;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .leftInv h4{
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .leftInv input, .rightInv input{
        background-color: #FFD16D;
        border: none;
        font-family: "Pixelify Sans";
        font-size: 20px;
        font-weight: bold;
        width: 50%;
    }

    .rightInv select{
        display: block;
        background-color: #FFD16D;
        border: none;
        font-family: "Pixelify Sans";
        font-size: 20px;
        font-weight: bold;
        width: 90%;
        overflow-x:auto;
        text-overflow: ellipsis;
        margin-bottom: 5px;
    }

    .leftInv button, .rightInv button, .menInvDiv button {
        background-color: transparent;
        border: none;
        font-family: "Pixelify Sans";
        font-size: 20px;
        font-weight: bold;
    }

    .rightInv{
        border-left: 3px solid #FFD16D;
        padding: 10px;
        height: 100%;
        overflow-y: auto;
        background-color: #3C91FF;
        border: none;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .rightInv::-webkit-scrollbar-thumb{
        background: #002FA4;
        border: none;
        border-radius: 5px;
    }
    
    .rightInv::-webkit-scrollbar-thumb:hover{
        background: #006eff;
        border: none;
        border-radius: 5px;
    }    

    .iNVtemDiv{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .iNVtemDiv h4{
        margin: 0px;
        margin-top: 10px;
    }
    
    .iNVtemDiv button{
        color:red;
        margin: 0px;
        margin-top: 10px;
        border: 1px solid red;
        border-radius: 50%;
    }

    #viewMenu{
        background-color: #FFD16D;
        border: none;
        border-radius: 10px;
        padding: 2%; 
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        place-items: center;
        column-gap: 10px;
    }

    .menInvDiv{
        min-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px; 
        border: none;
        border-radius: 10px;
        margin-bottom: 10%;
        background-color: #6EADFF;
        padding: 10px;
    }

    .menInvDiv h4{
        margin: 5px;
    }

    .menInvDiv button{
        color:red;
        margin: 0px;
    }
}